@model MvcFilmoteka.Models.Film

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Film</legend>

    <div class="display-label">Tytul</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tytul)
    </div>

    <div class="display-label">Gatunek</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gatunek)
    </div>

    <div class="display-label">Produkcja</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Produkcja)
    </div>

    <div class="display-label">Rezyseria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rezyseria)
    </div>

    <div class="display-label">Scenariusz</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scenariusz)
    </div>

    <div class="display-label">Rok</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rok)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
