@model MvcFilmoteka.Models.Film

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>Film</legend>

    <div class="display-label">Tytuł</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tytul)
    </div>

    <div class="display-label">Gatunek</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gatunek)
    </div>

    <div class="display-label">Produkcja</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Produkcja)
    </div>

    <div class="display-label">Reżyseria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rezyseria)
    </div>

    <div class="display-label">Scenariusz</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scenariusz)
    </div>

    <div class="display-label">Rok</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rok)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Powrót do listy filmów", "Index")
</p>
