@model IEnumerable<MvcFilmoteka.Models.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Tytul
        </th>
        <th>
            Gatunek
        </th>
        <th>
            Produkcja
        </th>
        <th>
            Rezyseria
        </th>
        <th>
            Scenariusz
        </th>
        <th>
            Rok
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gatunek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produkcja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezyseria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scenariusz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
