@model MvcFilmoteka.Models.Aktor

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>Aktor</legend>

    <div class="display-label">Imię</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imie)
    </div>

    <div class="display-label">Nazwisko</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwisko)
    </div>

    <div class="display-label">Data urodzenia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_urodzenia)
    </div>

    <div class="display-label">Miejsce urodzenia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Miejsce_urodzenia)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Powrót do listy aktorów", "Index")
</p>
